USE [yemek_sistemi]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[trg_askida_kullanim_kontrol]
ON [dbo].[askida_kullanim]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @toplam_bagis DECIMAL(10,2);
    DECLARE @toplam_kullanim DECIMAL(10,2);
    DECLARE @yeni_kullanim DECIMAL(10,2);

    SELECT @toplam_bagis = ISNULL(SUM(tutar),0) FROM bagis;
    SELECT @toplam_kullanim = ISNULL(SUM(tutar),0) FROM askida_kullanim;
    SELECT @yeni_kullanim = SUM(tutar) FROM inserted;

    IF (@toplam_bagis - @toplam_kullanim >= @yeni_kullanim)
    BEGIN
        INSERT INTO askida_kullanim (musteri_id, siparis_id, tutar, kullanim_tarihi)
        SELECT musteri_id, siparis_id, tutar, kullanim_tarihi FROM inserted;
    END
    ELSE
    BEGIN
        RAISERROR('Yetersiz askıda bakiye!', 16, 1);
    END
END;